{% extends "layouts/base.html" %}

{% block meta %}
    <head>

    </head>
{% endblock %}

{% block body %}
    <p style="font-family:'Bebas Neue'; font-size:80px" > Enrollment </p>

    <div class="container py-4 bg-primary">
        <!-- heading -->
        <header class="pb-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center text-light text-decoration-none">
                <span class="fs-4">Search Database</span>
            </a>
        </header>
        <!-- search box -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="term" placeholder="enter search term">
                            <label></label> <!-- used for spacer -->
                        </div>
                        <button class="btn btn-primary bg-secondary" onclick="search_data();">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- result of search -->
    <div class="container">
        <table class="table">
            <tr>
                <th>Class Name</th>
                <td id="resultName"> </td>
            </tr>
            <tr>
                <th>Teacher </th>
                <td id="resultTeacher"> </td>
            </tr>
            <tr>
                <th>Link </th>
                <td id="resultLink"> </td>
            </tr>
        </table>
    </div>

<script>
function search_data() {
    // fetch standard requires data set to a name-value pair
    const term = document.getElementById("term");
    const body = {
        term: term.value
    };

    // fetch call with header options
    fetch('/crud/search/term/', {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(body),
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    })
        // async then replies with response header
        .then(function (response) {
            // prepare HTML search result container for new output
            const resultContainer1 = document.getElementById("resultName");
            const resultContainer2 = document.getElementById("resultTeacher");
            const resultContainer3 = document.getElementById("resultLink");
            // clean up from previous search
            while (resultContainer1.firstChild) {
                resultContainer1.removeChild(resultContainer1.firstChild);
            }
            while (resultContainer2.firstChild) {
                resultContainer2.removeChild(resultContainer2.firstChild);
            }
            while (resultContainer3.firstChild) {
                resultContainer3.removeChild(resultContainer3.firstChild);
            }
            // response contains valid result
            response.json().then(function(data) {
                // loop through JSON and build HTML output
                for (let i = 0; i < data.length; i++) {
                    console.log(data)
                    const td = document.createElement("td");
                    td.innerHTML = data[i].className;
                    resultContainer1.appendChild(td);
                }
                for (let i = 0; i < data.length; i++) {
                    const td = document.createElement("td");
                    td.innerHTML = data[i].teacher;
                    resultContainer2.appendChild(td);
                }
                for (let i = 0; i < data.length; i++) {
                    const td = document.createElement("td");
                    td.innerHTML = data[i].link;
                    resultContainer3.appendChild(td);
                }
            })
        })
}
</script>
{% endblock %}

{% block background %}
{% endblock %}
