Flask~=2.0.2
numpy
pillow
SQLAlchemy~=1.4.27
requests~=2.27.1
crud~=0.1
Flask-Migrate~=3.1.0
Flask-RESTful~=0.3.9
Flask-SQLAlchemy~=2.5.1
flask_login
Jinja2~=3.0.1
furl
starter
algorithm
webapi
pandas
scipy
