
{% extends "layouts/base.html" %}

{% block body %}
<div class="index">
  <div class="center-block" style="margin: 2% 10% 10%; font-family: gilroy,serif;" >
    <div class="col-12" style="text-align: center;">
      <h1 style="color:black">Sorry, but the page you are looking for doesn't exist. </h1>
    </div>

    <div class="jumbotron jumbotron-fluid" style="text-align: center; ">
      <h4 style="color:black">We are working on a fix! </h4>
      <a href="/" style="color: #ed1b76;font-size: 20px">Homepage</a>
    </div>
  </div>
</div>
{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
