
{% extends "layouts/base.html" %}

{% block body %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Movie/Show</th>
            <th>Description</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="container bg-primary text-white p-4">
                    <p>Spider-Man No Way Home</p>
                </div>
            </td>
            <td>
                <div class="container bg-primary text-white p-4">
                    <p>The series revolves around a contest where 456 players, all of whom are in deep financial debt, risk their lives to play a series of deadly children's games for the chance to win a ₩45.6 billion prize. The title of the series draws from a similarly named Korean children's game.</p>
                </div>
            </td>
            <td>
                <h4 href="reviewSpiderman" class="btn btn-danger">More Information</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container bg-success text-white p-4">
                    <p>Ironman</p>
                </div>
            </td>
            <td>
                <div class="container bg-success text-white p-4">
                    <p>2008's Iron Man tells the story of Tony Stark, a billionaire industrialist and genius inventor who is kidnapped and forced to build a devastating weapon. Instead, using his intelligence and ingenuity, Tony builds a high-tech suit of armor and escapes captivity.</p>
                </div>
            </td>
            <td>
                <h4 href="https://www.disneyplus.com/series/wandavision/4SrN28ZjDLwH" class="btn btn-danger">More Information</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container bg-danger text-white p-4">
                    <p>WandaVision</p>
                </div>
            </td>
            <td>
                <div class="container bg-danger text-white p-4">
                    <p>WandaVision's basic setup finds Wanda and Vision living in a sitcom-style suburban world as a married couple with two children. Each episode (at least those featured in the various trailers) is modeled after sitcoms from different eras (I Love Lucy and I Dream Of Jeannie among them).</p>
                </div>
            </td>
            <td>
                <h4 href="https://www.disneyplus.com/series/wandavision/4SrN28ZjDLwH" class="btn btn-danger">More Information</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container bg-primary text-white p-4">
                    <p>Squid Game</p>
                </div>
            </td>
            <td>
                <div class="container bg-primary text-white p-4">
                    <p>The series revolves around a contest where 456 players, all of whom are in deep financial debt, risk their lives to play a series of deadly children's games for the chance to win a ₩45.6 billion prize. The title of the series draws from a similarly named Korean children's game.</p>
                </div>
            </td>
            <td>
                <h4 href="https://www.disneyplus.com/series/wandavision/4SrN28ZjDLwH" class="btn btn-danger">More Information</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container bg-success text-white p-4">
                    <p>Ironman</p>
                </div>
            </td>
            <td>
                <div class="container bg-success text-white p-4">
                    <p>2008's Iron Man tells the story of Tony Stark, a billionaire industrialist and genius inventor who is kidnapped and forced to build a devastating weapon. Instead, using his intelligence and ingenuity, Tony builds a high-tech suit of armor and escapes captivity.</p>
                </div>
            </td>
            <td>
                <h4 href="https://www.disneyplus.com/series/wandavision/4SrN28ZjDLwH" class="btn btn-danger">More Information</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container bg-danger text-white p-4">
                    <p>WandaVision</p>
                </div>
            </td>
            <td>
                <div class="container bg-danger text-white p-4">
                    <p>WandaVision's basic setup finds Wanda and Vision living in a sitcom-style suburban world as a married couple with two children. Each episode (at least those featured in the various trailers) is modeled after sitcoms from different eras (I Love Lucy and I Dream Of Jeannie among them).</p>
                </div>
            </td>
            <td>
                <h4 href="https://www.disneyplus.com/series/wandavision/4SrN28ZjDLwH" class="btn btn-danger">More Information</h4>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
