<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% block body %}

<div class="container-fluid">
  <h1>Our favorite movies/shows</h1>
  <div class="row">
    <div class="col" style="background-color:#037a76;">
      <div class="card" style="width:400px">
      <img style="width:375px; height:250px" src="static/assets/squidGame.png">
      <div class="card-body">
        <h4 class="card-title" style="color:blue">Squid Game</h4>
        <p class="card-text" style="color:blue"> The series revolves around a contest where 456 players, all of whom are in deep financial debt, risk their lives to play a series of deadly children's games for the chance to win a ₩45.6 billion prize. The title of the series draws from a similarly named Korean children's game.</p>
        <a4 href="https://www.netflix.com/title/81040344" class="btn btn-primary">Watch Here!</a4>
      </div>
    </div></div>

    <div class="col" style="background-color:#037a76;">
      <div class="card" style="width:400px">
        <img style="width:167px; height:250px" src="static/assets/ironman.png">
        <div class="card-body">
          <h4 class="card-title" style="color:blue">Ironman</h4>
          <p class="card-text" style="color:blue"> 2008's Iron Man tells the story of Tony Stark, a billionaire industrialist and genius inventor who is kidnapped and forced to build a devastating weapon. Instead, using his intelligence and ingenuity, Tony builds a high-tech suit of armor and escapes captivity.</p>
          <a href="https://www.disneyplus.com/movies/marvel-studios-iron-man/6aM2a8mZATiu" class="btn btn-primary">Watch Here!</a>
        </div>
      </div></div>

    <div class="col" style="background-color:#037a76;">
      <div class="card" style="width:400px">
        <img style="width:400px; height:230px" src="static/assets/wandaVision.png">1.532
        <div class="card-body">
          <h4 class="card-title" style="color:blue">WandaVision</h4>
          <p class="card-text" style="color:blue"> WandaVision's basic setup finds Wanda and Vision living in a sitcom-style suburban world as a married couple with two children. Each episode (at least those featured in the various trailers) is modeled after sitcoms from different eras (I Love Lucy and I Dream Of Jeannie among them).</p>
          <a4 href="https://www.disneyplus.com/series/wandavision/4SrN28ZjDLwH" class="btn btn-primary">Watch Here!</a4>
        </div>
      </div></div>
</div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
