<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <div>
        <p style="font-size:100px; margin-left:30%;">
            Varsity Roster
        </p>
    </div>

    <div>
        <a> <img class="col-md-12" style="width:600px;margin-left:28%" src="../static/assets/blockimage.png"></a>
    </div>

<div style="margin-left:45%; margin-top: 5%">
    <p>{{jokeslist[1]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[2]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[1]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[2]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[3]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[4]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[5]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[6]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[7]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[8]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[9]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[10]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[11]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist[12]}}</p>
</div>
<div style="margin-left:45%; margin-bottom: 5%">
    <p>{{jokeslist[13]}}</p>
</div>

            {% for joke in jokes %}
            <p class="setup"><strong></strong></p>
            {% endfor %}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>

        </tr>
        </tbody>
    </table>
</div>

{% endblock %}