<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4">All Jokes</span>
    </header>

    <div>
        <p style="font-size:100px; margin-left:30%;">
            Freshman Roster
        </p>
    </div>

    <div>
        <a> <img class="col-md-12" style="width:600px;margin-right:-15%" src="../static/assets/freshmanroster.png"></a>
    </div>

    <p>{{jokeslist3}}</p>

    <div class="row mx-3 bg-primary text-light rounded-3">
        <div class="col-md mx-3 py-5">
            {% for joke in jokes %}
            <p class="setup"><strong></strong></p>
            {% endfor %}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>

        </tr>
        </tbody>
    </table>
</div>

{% endblock %}