<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
  <div>
    <p style="font-size:100px; margin-left:35%;">
      JV Roster
    </p>
  </div>

  <div>
    <a> <img class="col-md-12" style="width:600px;margin-left:28%" src="../static/assets/JVroster.png"></a>
  </div>

<div style="margin-left:45%; margin-top: 5%">
  <p>{{jokeslist2[1]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[2]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[1]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[2]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[3]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[4]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[5]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[6]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[7]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[8]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[9]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[10]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[11]}}</p>
</div>
<div style="margin-left:45%">
  <p>{{jokeslist2[12]}}</p>
</div>
<div style="margin-left:45%; margin-bottom: 5%">
  <p>{{jokeslist2[13]}}</p>
</div>

      {% for joke in jokes %}
      <p class="setup"><strong></strong></p>
      {% endfor %}
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>

    </tr>
    </tbody>
  </table>
</div>

{% endblock %}