<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <div>
        <p style="font-size:100px; margin-left:25%;">
            Freshman Roster
        </p>
    </div>

    <div>
        <a> <img class="col-md-12" style="width:600px;margin-left:28%" src="../static/assets/freshmanroster.png"></a>
    </div>

<div style="margin-left:45%; margin-top: 5%">
    <p>{{jokeslist3[1]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[2]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[1]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[2]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[3]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[4]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[5]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[6]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[7]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[8]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[9]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[10]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[11]}}</p>
</div>
<div style="margin-left:45%">
    <p>{{jokeslist3[12]}}</p>
</div>
<div style="margin-left:45%; margin-bottom: 5%">
    <p>{{jokeslist3[13]}}</p>
</div>

            {% for joke in jokes %}
            <p class="setup"><strong></strong></p>
            {% endfor %}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>

        </tr>
        </tbody>
    </table>
</div>

{% endblock %}