<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}

<div style="background-color: mediumspringgreen">
    <div class="center-block" style="margin: 0% 0% 0% 0%; text-align:center; font-family: gilroy,sans-serif;">

        <div class="col-12" style="font-size: 30px;">
            <p>Hi, my name is Leo! Click on the picture to see me without a mask (I am on the left).</p>
        </div>

        <label class="tog">
            <input type="checkbox" checked>
            <span>Mask</span>
        </label>
        <style>
            label.tog > input {
            }
            label.tog > input + span {
                text-indent: -9000px; /* Make text Accessible but not visible */
                display: inline-block;
                width: 800px;
                height: 500px;
                background: center / contain no-repeat url("/static/assets/leomaskoff.png");
            }
            label.tog > input:checked + span {
                background-image: url("/static/assets/leomaskon.png");
            }
        </style>

        <div class="col-12" style="text-align: center; font-size: 15px;">
            <h2><strong>Curious about San Diego weather? Check it out below!</strong></h2>
            <table class="col-12" style="text-align: center;">
                <tr>
                    <th style="width: 125px; color: white;">Local Time</th>
                    <th style="width: 125px; color: white;">Temperature (F)</th>
                    <th style="width: 125px; color: white;">Condition</th>
                    <th style="width: 125px; color: white;">Wind (mph)</th>
                    <th style="width: 125px; color: white;">Precipitation (in)</th>
                    <th style="width: 125px; color: white;">Humidity</th>
                </tr>
                <tr>
                    <td style="width: 125px; color: white;">{{Weather['location']['localtime']}}</td>
                    <td style="width: 125px; color: white;">{{Weather['current']['temp_f']}}</td>
                    <td style="width: 125px; color: white;">{{Weather['current']['condition']['text']}}</td>
                    <td style="width: 125px; color: white;">{{Weather['current']['wind_mph']}}</td>
                    <td style="width: 125px; color: white;">{{Weather['current']['precip_in']}}</td>
                    <td style="width: 125px; color: white;">{{Weather['current']['humidity']}}</td>
                </tr>
            </table>
        </div>
        <div style="padding-top: 40px">
            <h2><strong>Here are some songs I enjoy listening to:</strong></h2>
        </div>
        <iframe src="https://open.spotify.com/embed/track/4djIFfof5TpbSGRZUpsTXq?si=483dfb9c28a94e4a_source=generator" width="80%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe src="https://open.spotify.com/embed/track/1xSmjB0t19q4CSJ0X0ymGB?si=44715a1a9bce41ed_source=generator" width="80%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe src="https://open.spotify.com/embed/track/748mdHapucXQri7IAO8yFK?si=51b8857b3fc14ccd_source=generator" width="80%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

        <div class="row">
            <div class="col-sm" style="font-size:40px;">
                <a href="https://docs.google.com/document/d/1RjCabf4uYDJ0jTDEKXNHbvnHPhlOszNcla_7WAyO1Cg/edit" target="_blank">Journal</a>
            </div>

            <div class="col-sm" style="font-size:40px;">
                <a href="https://github.com/BrianZhang2016/067/wiki/Create-Task-Plan" target="_blank">Create Task Plan</a>
            </div>
        </div>

    </div>
</div>
</html>


{% endblock %}
