
{% extends "layouts/base.html" %}

{% block body %}

<h1 class="center-block" style=" text-align:center; font-family: 'Arial';">Volleyball Quiz!</h1>
    <h2 style="padding-left: 25px"> Welcome to our Volleyball Quiz! </h2>
<div id="quiz"></div>
<button id="submit">Submit Quiz</button>
<div id="results"></div>

<style>
    body{
        font-size: 15px;
        font-family: "Arial";
        color: #333;
    }
    .question{
        font-weight: 600;
    }
    .answers {
        margin-bottom: 20px;
    }
    .answers label{
        display: block;
    }
    #submit{
        font-family: sans-serif;
        font-size: 20px;
        background-color: #279;
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    #submit:hover{
        background-color: #38a;
    }
</style>


<script>
    (function(){
        function buildQuiz(){
            const output = [];

            indexes = [];
            indexes[0] = Math.round(Math.random() * (myQuestions.length-1))
            indexes[1] = Math.round(Math.random() * (myQuestions.length-1))
            indexes[2] = Math.round(Math.random() * (myQuestions.length-1))
            indexes[3] = Math.round(Math.random() * (myQuestions.length-1))
            indexes[4] = Math.round(Math.random() * (myQuestions.length-1))


            while ((indexes[0] === indexes[1]) | (indexes[0] === indexes[2]) | (indexes[0] === indexes[3]) || (indexes[0] === indexes[4])) {
                indexes[0] = Math.round(Math.random() * (myQuestions.length-1))
            }
            while ((indexes[1] === indexes[2]) | (indexes[1] === indexes[3]) || (indexes[1] === indexes[4])) {
                indexes[1] = Math.round(Math.random() * (myQuestions.length-1))
            }
            while ((indexes[2] === indexes[3]) || (indexes[2] === indexes[4])) {
                indexes[2] = Math.round(Math.random() * (myQuestions.length-1))
            }
            while (indexes[3] === indexes[4]) {
                indexes[3] = Math.round(Math.random() * (myQuestions.length-1))
            }
            console.log(indexes)

            for (ind = 0; ind < indexes.length; ind++) {
                currentQuestion = myQuestions[indexes[ind]]
                questionNumber = ind

                    const answers = [];


                    for(letter in currentQuestion.answers){

                        answers.push(
                            `<label>
                          <input type="radio" name="question${questionNumber}" value="${letter}">
                            ${letter} :${currentQuestion.answers[letter]}
                            </label>`);
                    }

                    output.push(
                        `<div class="question"> ${currentQuestion.question} </div>
                    <div class="answers"> ${answers.join('')} </div>`);

            quizContainer.innerHTML = output.join('');
            }
        }


        function showResults(){

            const answerContainers = quizContainer.querySelectorAll('.answers');

            let numCorrect = 0;

            // for each question...
            for (ind = 0; ind < indexes.length; ind++) {
                currentQuestion = myQuestions[indexes[ind]]
                questionNumber = ind

                // find selected answer
                const answerContainer = answerContainers[questionNumber];
                const selector = `input[name=question${questionNumber}]:checked`;
                const userAnswer = (answerContainer.querySelector(selector) || {}).value;

                // if answer is correct
                if(userAnswer === currentQuestion.correctAnswer){
                    // add to the number of correct answers
                    numCorrect++;

                    // color the answers green
                    answerContainers[questionNumber].style.color = 'darkgreen';
                }
                // if answer is wrong or blank
                else{
                    // color the answers red
                    answerContainers[questionNumber].style.color = '#ed1b2d';
                }
            };

            // show number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${indexes.length}`;
        }

        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');
        const myQuestions = [
            {
            question: "What was the original name of volleyball?",
                answers: {
                    a: "Volley volley the bolley bolley",
                    b: "Mintonette"
                },
                correctAnswer: "b"
            },
            {
                question: "How many people on each team?",
                answers: {
                    a: "6",
                    b: "10",
                    c: "146",
                    d: "2"
                },
                correctAnswer: "a"
            },
            {
                question: "When was volleyball created?",
                answers: {
                    a: "1895",
                    b: "1912",
                    c: "100 B.C.E",
                    d: "2234"
                },
                correctAnswer: "a"
            },
            {
                question: "Who created volleyball?",
                answers: {
                    a: "Mark Zuckerberg, Lizard",
                    b: "Queen Elizabeth II, Queen of England",
                    c: "Kanye West, Artist",
                    d: "William G. Morgan, YMCA director"
                },
                correctAnswer: "d"
            },
            {
                question: "What are points called in volleyball?",
                answers: {
                    a: "Scores",
                    b: "Goals",
                    c: "Points",
                    d: "Baskets"
                },
                correctAnswer: "c"
            },
            {
                question: "If you score a point doing a spike, what is it called?",
                answers: {
                    a: "Murder",
                    b: "Kill",
                    c: "Down",
                    d: "Hit"
                },
                correctAnswer: "b"
            },
            {
                question: "What is the player who specializes in defense?",
                answers: {
                    a: "Libero",
                    b: "Blocker",
                    c: "Freestyle",
                    d: "Point Guard",
                },
                correctAnswer: "a"
            },
            {
                question: "How many sets are in a volleyball game?",
                answers: {
                    a: "7",
                    b: "5",
                    c: "3",
                    d: "24",
                },
                correctAnswer: "b"
            },
            {
                question: "How many substitutions are allowed?",
                answers: {
                    a: "10",
                    b: "1390.2",
                    c: "12",
                    d: "15",
                },
                correctAnswer: "c"
            },
            {
                question: "How many seconds does a timeout last?",
                answers: {
                    a: "64.39",
                    b: "25",
                    c: "15",
                    d: "30",
                },
                correctAnswer: "d"
            }
        ];

        // Kick things off
        buildQuiz();

        // Event listeners
        submitButton.addEventListener('click', showResults);
    })();
</script>

{% endblock %}