<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Breaking Bad" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% block body %}
<style>
    table, th, td {
        border:2px solid black;
        text-align: center;
    }
    #deez{
        margin-right:8%;
    }
</style>
<body>
<br>

<div>
    <p style="font-size:50px; margin-left:25%;">
        Breaking Bad
    </p>
</div>
<br>

<div class="row">
    <div>
        <a> <img class="col-md-12" style="width:600px;margin-right:-15%" src="../static/assets/breakingbad.png"></a>
    </div>
    <div class="col-md-5"><div style="font-size:25px; margin-left:0%;">
        <a><p>
            Mild-mannered high school chemistry teacher Walter White thinks his life can't get much worse. His salary barely makes ends meet, a situation not likely to improve once his pregnant wife gives birth, and their teenage son is battling cerebral palsy. But Walter is dumbstruck when he learns he has terminal cancer. Realizing that his illness probably will ruin his family financially, Walter makes a desperate bid to earn as much money as he can in the time he has left by turning an old RV into a meth lab on wheels.
        </p></a>
    </div>
        <div>
            <td>
                <a style="font-size: 20px" href="https://www.imdb.com/title/tt0903747/" class="btn btn-primary">Watch Breaking Bad!</a>
            </td>
        </div>
    </div>
    </div>
    </div>
</div>

<br>

<div>
    <table style="margin-right:auto; margin-left:auto; width:65%">
        <tr>
            <th style="font-size:30px">Pros</th>
            <th style="font-size:30px">Cons</th>
        </tr>
        <tr style="font-size:20px">
            <td>Multiplayer
                <br>Near infinite possibilities
                <br>Only $30, other AAA games are around $60</td>
            <td>Lack of administration on some servers can lead to bullying/harassment</td>
        </tr>
    </table>
</div>
<br>

<div>
    <p style="font-size:20px; text-align:center">Available on: PlayStation, Xbox, PC, and Switch</p>
</div>
<br>

</body>
{% endblock %}
</html>