<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Roster" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% block body %}
<style>
    table, th, td {
        border:2px solid black;
        text-align: center;
    }
    #deez{
        margin-right:8%;
    }
</style>
<body>
<br>

<div>
    <p style="font-size:100px; margin-left:30%;">
        Varsity Roster
    </p>
</div>
<br>

<div class="row">
    <div>
        <a> <img class="col-md-12" style="width:1000px;margin-right:10%" src="../static/assets/varsityroster.png"></a>
    </div>

<br>

<div>
    <table style="margin-left: 10px; margin-top:800px; width:700%">
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
        </table>
</div>
<br>


</body>
{% endblock %}
</html>