<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
<body>

<div>
    <p style="font-size:100px; margin-left:35%;">
        Schedule
    </p>
</div>

<div style="margin-left:25%; margin-top: 5%">
    <p>{{jokeslist4[1]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[2]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[1]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[2]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[3]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[4]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[5]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[6]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[7]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[8]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[9]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[10]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[11]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[12]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[13]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[14]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[15]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[16]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[17]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[18]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[19]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[20]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[21]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[22]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[23]}}</p>
</div>
<div style="margin-left:25%">
    <p>{{jokeslist4[24]}}</p>
</div>
<div style="margin-left:25%; margin-bottom: 5%">
    <p>{{jokeslist4[25]}}</p>
</div>

</body>
{% endblock %}
</html>
