<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
<body>

<div>
    <p style="font-size:100px; margin-left:35%;">
        Schedule
    </p>
</div>

<script style="margin-left: 20%">

    type="text/javascript" >(function(d){var mp = d.createElement('script'),h=d.getElementsByTagName('head')[0];mp.type='text/javascript';mp.async=true;mp.src='https://www.maxpreps.com/includes/js/widget/widget.compressed.js';h.appendChild(mp);})(document);</script>
<a class="maxpreps-widget-link" data-width="980" data-height="606" data-type="calendar" data-member-id="87eae4cf-3523-4d27-9589-926d49b529b2" href="https://www.maxpreps.com/local/team/home.aspx?gendersport=boys,volleyball&schoolid=ddf384b8-3189-4276-8703-71106d47a4d5" >Del Norte High School Boys Volleyball Team Info</a>

<script/>
</body>
{% endblock %}
</html>
