{% extends "layouts/base.html" %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WireFrame Page</title>
</head>
<body style="background-color:rgba(82,174,231,0.52);">
<div class="col-12">
    <img src="/static/assets/image.png" style="height: 400px" >
</div>

<div class="col-12">
    <img src="/static/assets/urmom.png" style="height: 400px" >
</div>

<div class="col-12">
    <img src="/static/assets/urdad.jpeg" style="height: 400px" >
</div>
<div class="col-0" style="margin: 3% 5% 2%" name="imgbox" id="imgbox;>
    <iframe width="1920" height="1080"><br/>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/assets/urmom.png" target="imgbox" style="float:right; width:100%; height:100%;"> //zachs photo
        </div>
        <div class="col">
            <img src="/static/assets/urdad.jpeg" target="imgbox" style="float:right; width:100%; height:100%;"> //leos photo
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <p style="color: pink">Zach Ye: 15 years old. Taller than Leo.</p> //description for zach
            </div>
            <div class="col">
                <p style="color: pink">Leo Sun: 15 years old. Taller than Zach.</p> //description for leo
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/assets/image.png" target="imgbox" style="float:right; width:100%; height:100%;">
        </div>
        <div class="col">
            <img src="/static/assets/Reem%20Picture.jpg" target="imgbox" style="float:right; width:100%; height:100%;">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p style="color: pink">Ethan Gravin: 15 years old. Allergic to peanut butter.</p>
            </div>
            <div class="col">
                <p style="color: pink">Reem Ben Ishai: 15 years old. Speaks 2 languages.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{% endblock %}